<h2>Characters: <%= link_to "+", new_character_path %></h2>

<% @characters.each do |character| %>
  <p><%= link_to character.name, character_path(character) %></p>
  <img src="<%= character.img_url %> " alt="">


<% end %>
